In [39]:
import pandas as pd
import numpy as np

In [70]:
dfs = []
for y in range(1995, 2019):
    file_1 = pd.read_csv('{0}_1.csv'.format(y))
    file_2 = pd.read_csv('{0}_2.csv'.format(y))
    files = [file_1, file_2]
    df = pd.concat(files)
    df['year'] = y 
    dfs.append(df)
book_df = pd.concat(dfs)

In [71]:
book_df.tail()

,titles,authors,stars,reviews,cover,prices,publishers,genres,year
45,Jesus Calling: Enjoying Peace in His Presence,Sarah Young,4.8,216,Hardcover,$9.55,Sourcebooks Jabberwocky; Brdbk edition (Decemb...,Children's Books,2018
46,Welcome Little One,Sandra Magsamen,4.2,"1,562",Board book,$4.47,"Feiwel & Friends; Brdbk edition (June 9, 2015)",Children's Books,2018
47,Your Baby's First Word Will Be DADA,Jimmy Fallon,4.6,"1,216",Board book,$5.59,"Wizards of the Coast; 9 edition (September 30,...",Science Fiction & Fantasy,2018
48,Monster Manual (D&D Core Rulebook),Wizards RPG Team,4.5,"2,413",Hardcover,$28.82,"Ballantine Books; Reprint, Updated edition (De...",Law,2018
49,Mindset: The New Psychology of Success,Carol S. Dweck,NaN,NaN,Paperback,$8.79,NaN,NaN,2018

In [72]:
book_df.shape

(2390, 9)

In [73]:
book_df.reviews = book_df.reviews.str.replace(',', '').astype(np.float)
book_df.prices = book_df.prices.str.replace('$', '').astype(np.float)

In [74]:
book_df.describe()

             stars       reviews       prices         year
count  2385.000000   2385.000000  2389.000000  2390.000000
mean      4.376184   4316.534172    12.187468  2006.512552
std       0.374091   9601.232473    10.896479     6.918443
min       1.000000      1.000000     0.010000  1995.000000
25%       4.200000    461.000000     7.900000  2001.000000
50%       4.500000   1514.000000    10.750000  2007.000000
75%       4.600000   3948.000000    14.700000  2012.750000
max       5.000000  84641.000000   275.000000  2018.000000

In [75]:
book_df.iloc[:,[2,3,5]] = book_df.iloc[:,[2,3,5]].fillna(book_df.iloc[:,[2,3,5]].mean)

In [76]:
book_df.genres = book_df.genres.astype('category')

In [77]:
book_df.stars = pd.to_numeric(book_df.stars, errors='coerce')
book_df.prices = pd.to_numeric(book_df.prices, errors='coerce')
book_df.reviews = pd.to_numeric(book_df.reviews, errors='coerce')

In [78]:
book_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2390 entries, 0 to 49
Data columns (total 9 columns):
titles        2390 non-null object
authors       2384 non-null object
stars         2390 non-null object
reviews       2390 non-null object
cover         2384 non-null object
prices        2390 non-null object
publishers    2366 non-null object
genres        2359 non-null category
year          2390 non-null int64
dtypes: category(1), int64(1), object(7)
memory usage: 172.0+ KB

In [7]:
book_df.to_csv('book_data.csv')